.postsList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.postElement {
  margin: 10px;
  border: 2px solid blue;
  width: calc(100% * (1 / 3) - 10px - 1px);
  height: 400px;
  list-style-type: none;
}
